
body{
    z-index: 2;
}
.map, .edificios{
    place-content: center center;
    display: flex;
    width: 100%;
}

.map :hover{
    fill: #373737;
    
}

#cuadroTexto, #estadisticaCuadro{
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      margin: 0px;
      width: 27%;      
      z-index: 3;
      bottom: 0px;
  }

  #main_container{
    overflow: hidden;
    z-index: 1;
    
  }
  #zoomIn, #zoomOut, #restaurar {
    cursor: pointer;
    margin-top: 10px;
}

.container{
    position: relative;
}

#estadisticaCuadro{
    width: 25%;
    height: 32%;
    right: 0px;
    justify-items: center;
    align-items: center;
    padding: 0;

}
#informacionCuadro{
    padding-top: 10px;
}
