

.map, .edificios{
    place-content: center center;
    display: flex;
    width: 100%;
}

.map :hover{
    fill: #02779e;
}

#cuadroTexto {
    display: none;
      position: absolute;
      background-color: #f9f9f9;
      padding: 10px;
      border: 1px solid #ddd;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      margin: 0px;
      width: 13%;
  }

